<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
	<title id="title"></title>
</head>
<body>
<span id="sampleUILabel" class="title"></span>
<hr width="100%"/>

<form id="sampleUIEditForm"><input type="hidden" id="crudType" />
<table class="tablebg">
	<tr>
		<th class="setborder">ラベルフィールド</th>
		<td class="bgwhite setborder"><span id="outputText"></span></td>
	</tr>
	<tr>
		<th class="setborder">テキストフィールド</th>
		<td class="bgwhite setborder"><span id="inputText"></span></td>
	</tr>
	<tr>
		<th class="setborder">パスワードフィールド</th>
		<td class="bgwhite setborder"><span id="inputSecret"></span></td>
	</tr>
	<tr>
		<th class="setborder">隠しフィールド</th>
		<td class="bgwhite setborder"><span id="inputHidden"></span></td>
	</tr>
	<tr>
		<th class="setborder">テキストエリア</th>
		<td class="bgwhite setborder"><span id="inputTextarea"></span></td>
	</tr>
	<tr>
		<th class="setborder">ラジオボタン(静的)</th>
		<td class="bgwhite setborder"><span id="inputRadio"></span></td>
	</tr>
	<tr>
		<th class="setborder">ラジオボタン(動的)</th>
		<td class="bgwhite setborder"><span id="selectOneRadio"></span></td>
	</tr>
	<tr>
		<th class="setborder">チェックボックス(単一項目)</th>
		<td class="bgwhite setborder"><span id="selectBooleanCheckbox"></span></td>
	</tr>
	<tr>
		<th class="setborder">チェックボックス(複数項目)</th>
		<td class="bgwhite setborder"><span id="selectManyCheckboxValue"></span></td>
	</tr>
	<tr>
		<th class="setborder">選択リスト(単一選択)</th>
		<td class="bgwhite setborder"><span id="selectOneMenu"></span></td>
	</tr>
	<tr>
		<th class="setborder">選択リスト(複数選択)</th>
		<td class="bgwhite setborder"><span id="selectManyListValue"></span></td>
	</tr>
	<tr>
		<th class="setborder">ファイルアップロード</th>
		<td class="bgwhite setborder"><span id="inputFile"></span></td>
	</tr>
	<tr>
		<th class="setborder">日付フィールド(カレンダー)</th>
		<td class="bgwhite setborder"><span id="popupCalendar"></span></td>
	</tr>
	<tr>
		<th class="setborder">commandButton</th>
		<td class="bgwhite setborder"><span id="commandButton"></span></td>
	</tr>
	<tr>
		<th class="setborder">forEach</th>
		<td class="bgwhite setborder"><span id="forEach"></span></td>
	</tr>

</table>

</form>
</body>
</html>