<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
<form id="MstEngineerConfirmForm"><input type="hidden" id="crudType" />
<div>
<span id="messages"></span>
</div>
<table class="tablebg">
<tr>
	<td><span id="engineerNoLabel">engineerNo</span></td>
	<td><span id="engineerNo">engineerNo</span><input type="hidden" id="engineerNo-hidden" /></td>
	<td><span id="engineerNoMessage"></span></td>
</tr>
<tr>
	<td><span id="stateFlagLabel">stateFlag</span></td>
	<td><span id="stateFlag">stateFlag</span><input type="hidden" id="stateFlag-hidden" /></td>
	<td><span id="stateFlagMessage"></span></td>
</tr>
<tr>
	<td><span id="kanjiNameLabel">kanjiName</span></td>
	<td><span id="kanjiName">kanjiName</span><input type="hidden" id="kanjiName-hidden" /></td>
	<td><span id="kanjiNameMessage"></span></td>
</tr>
<tr>
	<td><span id="kanaNameLabel">kanaName</span></td>
	<td><span id="kanaName">kanaName</span><input type="hidden" id="kanaName-hidden" /></td>
	<td><span id="kanaNameMessage"></span></td>
</tr>
<tr>
	<td><span id="sexLabel">sex</span></td>
	<td><span id="sex">sex</span><input type="hidden" id="sex-hidden" /></td>
	<td><span id="sexMessage"></span></td>
</tr>
<tr>
	<td><span id="birthLabel">birth</span></td>
	<td><span id="birth">birth</span><input type="hidden" id="birth-hidden" /></td>
	<td><span id="birthMessage"></span></td>
</tr>
<tr>
	<td><span id="zipCodeLabel">zipCode</span></td>
	<td><span id="zipCode">zipCode</span><input type="hidden" id="zipCode-hidden" /></td>
	<td><span id="zipCodeMessage"></span></td>
</tr>
<tr>
	<td><span id="addressLabel">address</span></td>
	<td><span id="address">address</span><input type="hidden" id="address-hidden" /></td>
	<td><span id="addressMessage"></span></td>
</tr>
<tr>
	<td><span id="telNoLabel">telNo</span></td>
	<td><span id="telNo">telNo</span><input type="hidden" id="telNo-hidden" /></td>
	<td><span id="telNoMessage"></span></td>
</tr>
<tr>
	<td><span id="mobileLabel">mobile</span></td>
	<td><span id="mobile">mobile</span><input type="hidden" id="mobile-hidden" /></td>
	<td><span id="mobileMessage"></span></td>
</tr>
<tr>
	<td><span id="pcMailLabel">pcMail</span></td>
	<td><span id="pcMail">pcMail</span><input type="hidden" id="pcMail-hidden" /></td>
	<td><span id="pcMailMessage"></span></td>
</tr>
<tr>
	<td><span id="mobileMailLabel">mobileMail</span></td>
	<td><span id="mobileMail">mobileMail</span><input type="hidden" id="mobileMail-hidden" /></td>
	<td><span id="mobileMailMessage"></span></td>
</tr>
<tr>
	<td><span id="nearStationLabel">nearStation</span></td>
	<td><span id="nearStation">nearStation</span><input type="hidden" id="nearStation-hidden" /></td>
	<td><span id="nearStationMessage"></span></td>
</tr>
<tr>
	<td><span id="routeLabel">route</span></td>
	<td><span id="route">route</span><input type="hidden" id="route-hidden" /></td>
	<td><span id="routeMessage"></span></td>
</tr>
<tr>
	<td><span id="belongCompanyCodeLabel">belongCompanyCode</span></td>
	<td><span id="belongCompanyCode">belongCompanyCode</span><input type="hidden" id="belongCompanyCode-hidden" /></td>
	<td><span id="belongCompanyCodeMessage"></span></td>
</tr>
<tr>
	<td><span id="belongPostLabel">belongPost</span></td>
	<td><span id="belongPost">belongPost</span><input type="hidden" id="belongPost-hidden" /></td>
	<td><span id="belongPostMessage"></span></td>
</tr>
<tr>
	<td><span id="passedCompanyCodeLabel">passedCompanyCode</span></td>
	<td><span id="passedCompanyCode">passedCompanyCode</span><input type="hidden" id="passedCompanyCode-hidden" /></td>
	<td><span id="passedCompanyCodeMessage"></span></td>
</tr>
<tr>
	<td><span id="insUserLabel">insUser</span></td>
	<td><span id="insUser">insUser</span><input type="hidden" id="insUser-hidden" /></td>
	<td><span id="insUserMessage"></span></td>
</tr>
<tr>
	<td><span id="insDateLabel">insDate</span></td>
	<td><span id="insDate">insDate</span><input type="hidden" id="insDate-hidden" /></td>
	<td><span id="insDateMessage"></span></td>
</tr>
<tr>
	<td><span id="updUserLabel">updUser</span></td>
	<td><span id="updUser">updUser</span><input type="hidden" id="updUser-hidden" /></td>
	<td><span id="updUserMessage"></span></td>
</tr>
<tr>
	<td><span id="updDateLabel">updDate</span></td>
	<td><span id="updDate">updDate</span><input type="hidden" id="updDate-hidden" /></td>
	<td><span id="updDateMessage"></span></td>
</tr>
</table>
<div id="isComeFromList">
	<input type="button" id="jumpMstEngineerList" value="Previous"
		onclick="location.href='MstEngineerList.html'"
	/>
</div>
<div id="isNotComeFromList">
	<input type="button" id="jumpMstEngineerEdit" value="Previous"
		onclick="location.href='mstEngineerEdit.html'" style="display: none;"/>
</div>
<div id="isNotRead">
<input type="button" id="doFinish" value="Finish" onclick="location.href='mstEngineerList.html'" />
</div>
</form>
</body></html>