<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>
<form id="Form">
<h1>S2Daoサンプルプログラム</h1>
<br />
<span id="messages" class="collor:red">メッセージ</span>
<br />
ユーザマスタのORマッピングを利用した更新方法
<br />
<input type="button" id="doMstUserDBInsert"/>
<input type="button" id="doMstUserDBUpdate"/>
<input type="button" id="doMstUserDBDelete"/>
<input type="button" id="doMstUserDBSearch"/>
<br />
<br />
外部SQLによる検索処理
<br />
<input type="button" id="doOutSQLDBSearch"/>
<br />
<br />
トランザクション確認（複数テーブルを更新－２テーブル目の更新処理でエラー発生－ロールバック）
<br />
<input type="button" id="doTransactionConfirm"/>

</form>
</body></html>