<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>

<body>
<form id="MstCodeListForm">
<div>
<span id="mstCodeLabel" class="title">mstCode</span><br/>
</div>
<hr width="100%"/>
<br/>
<table border="1" class="tablebg">
	<tr>
		<th><span id="textCodeDivLabel">codeDiv</span></th>
		<td><input type="text" id="textCodeDiv" size="2"/></td>
		<th><span id="textCodeLabel">code</span></th>
		<td><input type="text" id="textCode" size="3"/></td>
		<th><span id="textCodeNameLabel">codeName</span></th>
		<td><input type="text" id="textCodeName" size="20"/></td>
		<th></th><td class="bgwhite"><input type="button" id="doRetrieve" value="retrieve"/></td>
	</tr>
</table>
<input type="hidden" id="offset"/>
<br/>

<table width="100%">
	<tr>
		<td align="left">全<span id="totalNumber">totalNumber</span>件</td>
		<td>&nbsp;&nbsp;
			<input type="button" id="doGoFirstPage" value="First Page" te:disabled="false" />
			<input type="button" id="doGoPreviousPage" value="Previous Page" te:disabled="false" />
			<span id="currentPageIndex">currentPageIndex</span>/<span id="totalPageIndex">totalPageIndex</span>
			<input type="button" id="doGoNextPage" value="Next Page" te:disabled="false" />
			<input type="button" id="doGoLastPage" value="Last Page" te:disabled="false" />
		</td>
	</tr>
</table>

<table border="1" class="tablebg">
	<thead>
		<tr>
			<th><span id="codeDivLabel">codeDiv</span></th>
			<th><span id="codeLabel">code</span></th>
			<th><span id="codeNameLabel">codeName</span></th>
			<th><span id="insUserLabel">insUser</span></th>
			<th><span id="insDateLabel">insDate</span></th>
			<th><span id="updUserLabel">updUser</span></th>
			<th><span id="updDateLabel">updDate</span></th>
			<th><span id="delFlagLabel">delFlag</span></th>
			<th align="right"><input type="button" id="doCreate" value="Create" onclick="location.href='mstCodeEdit.html'"/></th>
		</tr>
	</thead>
	<tbody id="mstCodeItems">
		<tr id="mstCodeRow" class="row_even">
			<th><span id="codeDiv">codeDiv</span></th>
			<th><span id="code">code</span></th>
			<td><span id="codeName">codeName</span></td>
			<td><span id="insUser">insUser</span></td>
			<td><span id="insDate">insDate</span></td>
			<td><span id="updUser">updUser</span></td>
			<td><span id="updDate">updDate</span></td>
			<td><span id="delFlag">delFlag</span></td>
			<td><input type="hidden" id="codeDiv-hidden" />
				<input type="hidden" id="code-hidden" />
			<input type="button" id="doEdit" value="Edit" onclick="location.href='mstSkillEdit.html'"/>
			<input type="button" id="doDelete" value="Delete" onclick="location.href='mstSkillConfirm.html'"/>
			<input type="button" id="doInquire" value="Inquire" onclick="location.href='mstSkillConfirm.html'"/>
			</td>
		</tr>
	</tbody>
</table>

</form>
</body></html>