<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>

</head>
<body>
<form id="MstCodeEditForm"><input type="hidden" id="crudType" />
<div>
<span id="messages"></span>
<span id="mstCodeLabel" class="title">mstCode</span><br/>
</div>
<div id="isCreate">
<!-- Create -->
<input type="hidden" id="updUser" />
<input type="hidden" id="updDate" />
<table class="tablebg">
<tr>
	<td><span id="codeDivLabel">codeDiv</span></td>
	<td><input type="text" id="codeDiv"/></td>
	<td><span id="codeDivMessage"></span></td>
</tr>
<tr>
	<td><span id="codeLabel">code</span></td>
	<td><input type="text" id="code"/></td>
	<td><span id="codeMessage"></span></td>
</tr>
<tr>
	<td><span id="codeNameLabel">codeName</span></td>
	<td><input type="text" id="codeName"/></td>
	<td><span id="codeNameMessage"></span></td>
</tr>
<tr>
	<td><span id="insUserLabel">insUser</span></td>
	<td><input type="text" id="insUser"/></td>
	<td><span id="insUserMessage"></span></td>
</tr>
<tr>
	<td><span id="insDateLabel">insDate</span></td>
	<td><input type="text" id="insDate" class="T_date"/></td>
	<td><span id="insDateMessage"></span></td>
</tr>
<tr>
	<td><span id="delFlagLabel">delFlag</span></td>
	<td><input type="text" id="delFlag"/></td>
	<td><span id="delFlagMessage"></span></td>
</tr>
</table>
</div>

<div id="isNotCreate">
<table class="tablebg">
<tr>
	<td><span id="codeDivLabel">codeDiv</span></td>
	<td><input type="text" id="codeDiv"/></td>
	<td><span id="codeDivMessage"></span></td>
</tr>
<tr>
	<td><span id="codeLabel">code</span></td>
	<td><input type="text" id="code"/></td>
	<td><span id="codeMessage"></span></td>
</tr>
<tr>
	<td><span id="codeNameLabel">codeName</span></td>
	<td><input type="text" id="codeName"/></td>
	<td><span id="codeNameMessage"></span></td>
</tr>
<tr>
	<td><span id="insUserLabel">insUser</span></td>
	<td><input type="text" id="insUser"/><input type="hidden" id="insUser-hidden" /></td>
	<td><span id="insUserMessage"></span></td>
</tr>
<tr>
	<td><span id="insDateLabel">insDate</span></td>
	<td><input type="text" id="insDate" class="T_date"/><input type="hidden" id="insDate-hidden" /></td>
	<td><span id="insDateMessage"></span></td>
</tr>
<tr>
	<td><span id="updUserLabel">updUser</span></td>
	<td><input type="text" id="updUser"/></td>
	<td><span id="updUserMessage"></span></td>
</tr>
<tr>
	<td><span id="updDateLabel">updDate</span></td>
	<td><input type="text" id="updDate" class="T_date"/></td>
	<td><span id="updDateMessage"></span></td>
</tr>
<tr>
	<td><span id="delFlagLabel">delFlag</span></td>
	<td><input type="text" id="delFlag"/></td>
	<td><span id="delFlagMessage"></span></td>
</tr>
</table>
</div>
<input type="button" id="jumpMstCodeList" value="Previous"
	onclick="location.href='mstCodeList.html'"/>
<div id="isNotRead">
<input type="button" id="goMstCodeConfirm" value="Confirm"
	onclick="location.href='mstCodeConfirm.html'"/></div>
</form>
</body></html>