<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
<title id="mstCode">mstCode</title>
</head>

<body>
<form id="MstCodeConfirmForm"><input type="hidden" id="crudType" />
<div>
<span id="messages"></span>
<span id="mstCodeLabel" class="title">mstCode</span>
</div>
<hr width="100%"/>
<br/>
<table class="tablebg">
<tr>
	<td class="setborder"><span id="codeDivLabel">code</span></td>
	<td class="bgwhite setborder"><span id="codeDiv">codeDiv</span><input type="hidden" id="codeDiv-hidden" /></td>
	<td class="bgwhite"><span id="codeDivMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="codeLabel">code</span></td>
	<td class="bgwhite setborder"><span id="code">code</span><input type="hidden" id="code-hidden" /></td>
	<td class="bgwhite"><span id="codeMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="codeNameLabel">codeName</span></td>
	<td class="bgwhite setborder"><span id="codeName">codeName</span><input type="hidden" id="codeName-hidden" /></td>
	<td class="bgwhite"><span id="codeNameMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="insUserLabel">insUser</span></td>
	<td class="bgwhite setborder"><span id="insUser">insUser</span><input type="hidden" id="insUser-hidden" /></td>
	<td class="bgwhite"><span id="insUserMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="insDateLabel">insDate</span></td>
	<td class="bgwhite setborder"><span id="insDate">insDate</span><input type="hidden" id="insDate-hidden" /></td>
	<td class="bgwhite"><span id="insDateMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="updUserLabel">updUser</span></td>
	<td class="bgwhite setborder"><span id="updUser">updUser</span><input type="hidden" id="updUser-hidden" /></td>
	<td class="bgwhite"><span id="updUserMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="updDateLabel">updDate</span></td>
	<td class="bgwhite setborder"><span id="updDate">updDate</span><input type="hidden" id="updDate-hidden" /></td>
	<td class="bgwhite"><span id="updDateMessage"></span></td>
</tr>
<tr>
	<td class="setborder"><span id="delFlagLabel">delFlag</span></td>
	<td class="bgwhite setborder"><span id="delFlag">delFlag</span><input type="hidden" id="delFlag-hidden" /></td>
	<td class="bgwhite"><span id="delFlagMessage"></span></td>
</tr>
</table>

<table>
	<tr>
		<td>
			<div id="isComeFromList">
				<input type="button" id="jumpMstCodeList" value="Previous"
					onclick="location.href='MstCodeList.html'"
				/>
			</div>
		</td>
		<td>
			<div id="isNotComeFromList">
				<input type="button" id="jumpMstCodeEdit" value="Previous"
					onclick="location.href='mstCodeEdit.html'" style="display: none;"/>
			</div>
			<div id="isNotRead">
			<input type="button" id="doFinish" value="Finish" onclick="location.href='mstCodeList.html'" />
			</div>
		</td>
	</tr>
</table>
</form>
</body></html>