<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
	<title id="title"></title>
</head>
<body>
<span id="UITestLabel" class="title"></span>
<hr width="100%"/>

<form id="UITestEditForm"><input type="hidden" id="crudType" />
<table class="tablebg">
	<tr>
		<th class="setborder">outputText</th>
		<td class="bgwhite setborder"><span id="outputText"></span></td>
	</tr>
	<tr>
		<th class="setborder">inputText</th>
		<td class="bgwhite setborder"><span id="inputText"></span></td>
	</tr>
	<tr>
		<th class="setborder">inputHidden</th>
		<td class="bgwhite setborder"><span id="inputHidden"></span></td>
	</tr>
	<tr>
		<th class="setborder">inputRadio</th>
		<td class="bgwhite setborder"><span id="inputRadio"></span></td>
	</tr>
	<tr>
		<th class="setborder">inputSecret</th>
		<td class="bgwhite setborder"><span id="inputSecret"></span></td>
	</tr>
	<tr>
		<th class="setborder">inputTextarea</th>
		<td class="bgwhite setborder"><span id="inputTextarea"></span></td>
	</tr>
	<tr>
		<th class="setborder">inputFile</th>
		<td class="bgwhite setborder"><span id="inputFile"></span></td>
	</tr>
	<tr>
		<th class="setborder">popupCalendar</th>
		<td class="bgwhite setborder"><span id="popupCalendar"></span></td>
	</tr>
	<tr>
		<th class="setborder">selectOneMenu</th>
		<td class="bgwhite setborder"><span id="selectOneMenu"></span></td>
	</tr>
	<tr>
		<th class="setborder">selectOneRadio</th>
		<td class="bgwhite setborder"><span id="selectOneRadio"></span></td>
	</tr>
	<tr>
		<th class="setborder">selectBooleanCheckbox</th>
		<td class="bgwhite setborder"><span id="selectBooleanCheckbox"></span></td>
	</tr>
	<tr>
		<th class="setborder">selectManyCheckbox</th>
		<td class="bgwhite setborder"><span id="selectManyCheckbox"></span></td>
	</tr>
	<tr>
		<th class="setborder">commandButton</th>
		<td class="bgwhite setborder"><span id="commandButton"></span></td>
	</tr>
	<tr>
		<th class="setborder">forEach</th>
		<td class="bgwhite setborder"><span id="forEach"></span></td>
	</tr>

</table>

</form>
</body>
</html>