<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
<form id="MstUserListForm">





<input type="button" id="doCreate" value="Create" onclick="location.href='mstUserEdit.html'"/><br/>
<table border="1" class="tablebg">
	<thead>
		<tr>
			<th><span id="idLabel">id</span></th>
			<th><span id="delFlagLabel">delFlag</span></th>
			<th><span id="kanjiNameLabel">kanjiName</span></th>
			<th><span id="hiraganaNameLabel">hiraganaName</span></th>
			<th><span id="loginIdLabel">loginId</span></th>
			<th><span id="loginPasswordLabel">loginPassword</span></th>
			<th><span id="companyMailLabel">companyMail</span></th>
			<th><span id="mobileMailLabel">mobileMail</span></th>
			<th><span id="privateMailLabel">privateMail</span></th>
			<th><span id="otherMailLabel">otherMail</span></th>
			<th><span id="userLevelLabel">userLevel</span></th>
			<th><span id="officeLabel">office</span></th>
			<th><span id="postName1Label">postName1</span></th>
			<th><span id="postName2Label">postName2</span></th>
			<th><span id="positionNameLabel">positionName</span></th>
			<th><span id="positionCodeLabel">positionCode</span></th>
			<th><span id="postTelNoLabel">postTelNo</span></th>
			<th><span id="postTelNo2Label">postTelNo2</span></th>
			<th><span id="extensionLabel">extension</span></th>
			<th><span id="postFaxLabel">postFax</span></th>
			<th><span id="homeTelNoLabel">homeTelNo</span></th>
			<th><span id="homeFaxLabel">homeFax</span></th>
			<th><span id="mobileLabel">mobile</span></th>
			<th><span id="mobileIdLabel">mobileId</span></th>
			<th><span id="belongGroupLabel">belongGroup</span></th>
		</tr>
	</thead>
	<tbody id="mstUserItems">
		<tr id="mstUserRow" class="row_even">
			<td><span id="id">id</span></td>
			<td><span id="delFlag">delFlag</span></td>
			<td><span id="kanjiName">kanjiName</span></td>
			<td><span id="hiraganaName">hiraganaName</span></td>
			<td><span id="loginId">loginId</span></td>
			<td><span id="loginPassword">loginPassword</span></td>
			<td><span id="companyMail">companyMail</span></td>
			<td><span id="mobileMail">mobileMail</span></td>
			<td><span id="privateMail">privateMail</span></td>
			<td><span id="otherMail">otherMail</span></td>
			<td><span id="userLevel">userLevel</span></td>
			<td><span id="office">office</span></td>
			<td><span id="postName1">postName1</span></td>
			<td><span id="postName2">postName2</span></td>
			<td><span id="positionName">positionName</span></td>
			<td><span id="positionCode">positionCode</span></td>
			<td><span id="postTelNo">postTelNo</span></td>
			<td><span id="postTelNo2">postTelNo2</span></td>
			<td><span id="extension">extension</span></td>
			<td><span id="postFax">postFax</span></td>
			<td><span id="homeTelNo">homeTelNo</span></td>
			<td><span id="homeFax">homeFax</span></td>
			<td><span id="mobile">mobile</span></td>
			<td><span id="mobileId">mobileId</span></td>
			<td><span id="belongGroup">belongGroup</span></td>
			<td><a id="goMstUserEdit-edit" href="mstUserEdit.html?fixed_crudType=2&amp;id=id">Edit</a>
			<a id="goMstUserConfirm" href="mstUserConfirm.html?fixed_crudType=3&amp;id=id">Delete</a>
			<a id="goMstUserConfirm-confirm" href="mstUserConfirm.html?fixed_crudType=1&amp;id=id">Inquire</a>
			</td>
		</tr>
	</tbody>
</table>








</form>
</body></html>