<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:te="http://www.seasar.org/teeda/extension" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/global.css"/>
</head>
<body>
<form id="MstUserEditForm"><input type="hidden" id="crudType" />
<div>
<span id="messages"></span>
</div>
<table class="tablebg">
<tr>
	<td><span id="idLabel">id</span></td>
	<td><input type="text" id="id"/></td>
	<td><span id="idMessage"></span></td>
</tr>
<tr>
	<td><span id="delFlagLabel">delFlag</span></td>
	<td><input type="text" id="delFlag"/></td>
	<td><span id="delFlagMessage"></span></td>
</tr>
<tr>
	<td><span id="kanjiNameLabel">kanjiName</span></td>
	<td><input type="text" id="kanjiName"/></td>
	<td><span id="kanjiNameMessage"></span></td>
</tr>
<tr>
	<td><span id="hiraganaNameLabel">hiraganaName</span></td>
	<td><input type="text" id="hiraganaName"/></td>
	<td><span id="hiraganaNameMessage"></span></td>
</tr>
<tr>
	<td><span id="loginIdLabel">loginId</span></td>
	<td><input type="text" id="loginId"/></td>
	<td><span id="loginIdMessage"></span></td>
</tr>
<tr>
	<td><span id="loginPasswordLabel">loginPassword</span></td>
	<td><input type="text" id="loginPassword"/></td>
	<td><span id="loginPasswordMessage"></span></td>
</tr>
<tr>
	<td><span id="companyMailLabel">companyMail</span></td>
	<td><input type="text" id="companyMail"/></td>
	<td><span id="companyMailMessage"></span></td>
</tr>
<tr>
	<td><span id="mobileMailLabel">mobileMail</span></td>
	<td><input type="text" id="mobileMail"/></td>
	<td><span id="mobileMailMessage"></span></td>
</tr>
<tr>
	<td><span id="privateMailLabel">privateMail</span></td>
	<td><input type="text" id="privateMail"/></td>
	<td><span id="privateMailMessage"></span></td>
</tr>
<tr>
	<td><span id="otherMailLabel">otherMail</span></td>
	<td><input type="text" id="otherMail"/></td>
	<td><span id="otherMailMessage"></span></td>
</tr>
<tr>
	<td><span id="userLevelLabel">userLevel</span></td>
	<td><input type="text" id="userLevel"/></td>
	<td><span id="userLevelMessage"></span></td>
</tr>
<tr>
	<td><span id="officeLabel">office</span></td>
	<td><input type="text" id="office"/></td>
	<td><span id="officeMessage"></span></td>
</tr>
<tr>
	<td><span id="postName1Label">postName1</span></td>
	<td><input type="text" id="postName1"/></td>
	<td><span id="postName1Message"></span></td>
</tr>
<tr>
	<td><span id="postName2Label">postName2</span></td>
	<td><input type="text" id="postName2"/></td>
	<td><span id="postName2Message"></span></td>
</tr>
<tr>
	<td><span id="positionNameLabel">positionName</span></td>
	<td><input type="text" id="positionName"/></td>
	<td><span id="positionNameMessage"></span></td>
</tr>
<tr>
	<td><span id="positionCodeLabel">positionCode</span></td>
	<td><input type="text" id="positionCode"/></td>
	<td><span id="positionCodeMessage"></span></td>
</tr>
<tr>
	<td><span id="postTelNoLabel">postTelNo</span></td>
	<td><input type="text" id="postTelNo"/></td>
	<td><span id="postTelNoMessage"></span></td>
</tr>
<tr>
	<td><span id="postTelNo2Label">postTelNo2</span></td>
	<td><input type="text" id="postTelNo2"/></td>
	<td><span id="postTelNo2Message"></span></td>
</tr>
<tr>
	<td><span id="extensionLabel">extension</span></td>
	<td><input type="text" id="extension"/></td>
	<td><span id="extensionMessage"></span></td>
</tr>
<tr>
	<td><span id="postFaxLabel">postFax</span></td>
	<td><input type="text" id="postFax"/></td>
	<td><span id="postFaxMessage"></span></td>
</tr>
<tr>
	<td><span id="homeTelNoLabel">homeTelNo</span></td>
	<td><input type="text" id="homeTelNo"/></td>
	<td><span id="homeTelNoMessage"></span></td>
</tr>
<tr>
	<td><span id="homeFaxLabel">homeFax</span></td>
	<td><input type="text" id="homeFax"/></td>
	<td><span id="homeFaxMessage"></span></td>
</tr>
<tr>
	<td><span id="mobileLabel">mobile</span></td>
	<td><input type="text" id="mobile"/></td>
	<td><span id="mobileMessage"></span></td>
</tr>
<tr>
	<td><span id="mobileIdLabel">mobileId</span></td>
	<td><input type="text" id="mobileId"/></td>
	<td><span id="mobileIdMessage"></span></td>
</tr>
<tr>
	<td><span id="belongGroupLabel">belongGroup</span></td>
	<td><input type="text" id="belongGroup"/></td>
	<td><span id="belongGroupMessage"></span></td>
</tr>
</table>
<input type="button" id="jumpMstUserList" value="Previous"
	onclick="location.href='mstUserList.html'"/>
<div id="isNotRead">
<input type="button" id="goMstUserConfirm" value="Confirm"
	onclick="location.href='mstUserConfirm.html'"/></div>
</form>
</body></html>